{% extends 'base.html' %}
{% block  title %}BUYREQUEST{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='buyrequest.css')}}"> {% endblock css %}
{% block body%}

hi



<div class="row">
    <div class="col-4">

    </div>
    <div class="col-8">
        {% if count==0 %}
        <h1>OOps Currently no has requested to buy your product :( </h1>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        {% else %}


        {% for post in query  %}

        <div class="card " style="width: 40rem;">

            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <b>
                            <h4>
                                User {{post.requested_user}} has requested to buy your {{post.productname}} </h4>
                        </b>
                        <br>
                        <br>
                        <h2>Contact details</h2>
                        <h5>Name:{{post.Firstname}} <br>
                            Username:{{post.username}} <br>
                            Email:{{post.email}}</h5>
                    </div>
                    <div class="col-6">
                        <img class="card-img-top" src="{{url_for('static',filename='images/' + post.filename) }}"
                            alt="Card image cap">
                    </div>

                </div>
                <!-- Button trigger modal -->


                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class=" modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <b>NAME:{{post.requested_user}}</b>
                                <br>
                                <b>USERNAME:</b>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock body %}
