{% extends 'base.html' %}
{% block title %} CONTACT{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='contact.css')}}"> {% endblock css %}
{% block body %}




<div class="contact">
    We Thrive to bring out the best inside us
    <br><br><br><br><br><br><br>
    For any quieries and complaints You can contact us by below details
    <br>
    Email:sagargowda1329@gmail.com
    <br>
    Helpline:-08023911938
</div>


<br><br>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock body %}
